body {
  background-color: #eee;
}

#todoList {
  background: #fff;
  list-style: none;
  padding: 0;
  filter: drop-shadow(3px 3px 2px #ccc);
}

#todoList li {
  border-bottom: solid #ccc 1px;
  padding: 10px;
}
